# https://stackoverflow.com/questions/5711120/gitignore-without-binary-files
# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

#######################

\#*
\.#*
*.*~
*~
*.out
*.pyc
tmp*
*_tmp*
tmp/
.DS_Store
old/
commit.txt
lint.html
lint.txt
*flymake*
.ropeproject*
*.db
*.zip
*.jpg
*.sqlite3
settings.py
/static/*
node_modules/
bin/