board * {
    position:absolute;
}

.dark-square {
    background-color:#8498D9;
    margin:0px;
    position:absolute;    
}

.light-square {
    background-color:#A1B7FF;
    margin:0px;
    position:absolute;    
}

.chess-piece {
    text-align:center;
    position:absolute;    
}

.white-piece {
    color:#FFF;
}

.black-piece {
    color:#111;
}